<section class="card border-0 mb-4">
  <div class="card-body border rounded-bottom">
    <h2 class="mb-4">Комментарии</h2>
    
    {{#each comments}}
      <div class="card h-100  mb-3" id="{{ _id }}">
        <div class="card-body">
          <h6 class="mb-2">
            <small class="text-muted">Автор:</small>
            {{ user.name }}
          </h6>
          <div class="card-text small mb-3">
            {{ text }}
          </div>
          <small>
            <span class="text-muted">Время:</span>
            {{ created }}
          </small>
        </div>
      </div>
    {{/each}}
    
    {{#if comments.length}}
    {{else}}
      <div class="card h-100  mb-3" id="{{ _id }}">
          <div class="card-body">
            <h6 class="mb-0  text-center">Комментариев нет</h6>
          </div>
        </div>
    {{/if}}
    
  </div>
</section>