<nav>
  <ul class="pagination pagination-sm justify-content-center">
    {{!-- {{ pagination.pages }} --}}
    {{#each pagination.pages}}
      {{#if active}}
        <li class="page-item active">
          <a class="page-link" href="{{ rootUrl }}?page={{ page }}">{{ page }}</a>
        </li>
      {{else}}
        <li class="page-item">
          <a class="page-link" href="{{ rootUrl }}?page={{ page }}">{{ page }}</a>
        </li>
      {{/if}}
    {{/each}}
  </ul>
</nav>