<section class="card border-0 mb-4">
  <img src="{{ post.imageSrc }}" alt="{{ post.title }}" class="w-100  rounded-top">
  <div class="card-body border border-top-0  rounded-bottom">
    <h2>{{ post.title }}</h2>
    <p class="card-text">
      {{ post.text }}
    </p>
    <div class="d-flex justify-content-between">
      <div class="d-flex">
        <div class="post-view color-gray fz-small mr-3">
          {{ post.commentsCount }} <i class="fa fa-comment"></i>
        </div>
        <div class="post-view color-gray fz-small mr-3">
          {{ post.views }} <i class="fa fa-eye"></i>
        </div>
        <div class="post-view color-gray fz-small mr-3">
          {{ post.author.name }} <i class="fa fa-user"></i>
        </div>
        <div class="post-view color-gray fz-small mr-3">
          {{ post.created }} <i class="fa fa-clock"></i>
        </div>
      </div>
      <small class="d-flex align-items-center">
        <span class="m-0 mr-2 font-weight-bold">Категория:</span>
        <span>
          <a href="/category/{{ post.category.slug }}" class="text-dark">{{ post.category.title }}</a>
        </span>
      </small>
    </div>
  </div>
</section>

{{> comments }}

{{#if authed}}
  {{> comment-form }}
{{/if}}