<section class="card border-0 mb-4">
  <div class="card-body border  rounded-bottom">
    <h2 class="mb-4">Новый пост</h2>
    <form method="POST" enctype="multipart/form-data">
      <div class="mb-3">
        <label class="form-label">Название поста</label>
        {{#if errors.title }}
          <input type="text" name="title" class="form-control is-invalid" value="{{ fields.title }}">
          <div class="invalid-feedback">{{ errors.title }}</div>
        {{else}}
          <input type="text" name="title" class="form-control" value="{{ fields.title }}">
        {{/if}}
      </div>
      <div class="mb-3">
        <label class="form-label">Превью поста</label>
        {{#if errors.image }}
          <input type="file" name="image" class="form-control is-invalid p-1 w-100" accept="image/jpeg,image/png">
          <div class="invalid-feedback">{{ errors.image }}</div>
        {{else}}
          <input type="file" name="image" class="form-control p-1 w-100" accept="image/jpeg,image/png">
        {{/if}}
      </div>
      <div class="mb-3">
        <label class="form-label">Короткое описание</label>
        {{#if errors.excerpt }}
          <textarea name="excerpt" class="form-control is-invalid" rows="3">{{ fields.excerpt }}</textarea>
          <div class="invalid-feedback">{{ errors.excerpt }}</div>
        {{else}}
          <textarea name="excerpt" class="form-control" rows="3">{{ fields.excerpt }}</textarea>
        {{/if}}
      </div>
      <div class="mb-3">
        <label class="form-label">Полное описание</label>
        {{#if errors.text }}
          <textarea name="text" class="form-control is-invalid" rows="5">{{ fields.text }}</textarea>
          <div class="invalid-feedback">{{ errors.text }}</div>
        {{else}}
          <textarea name="text" class="form-control" rows="5">{{ fields.text }}</textarea>
        {{/if}}
      </div>
      <div class="mb-3">
        <label class="form-label">Категория</label>
        {{#if errors.category }}
          <select class="select2  is-invalid  js-select2" name="category">
            <option></option>
            {{#each categories}}
              {{#ifeq ../fields.category slug }}
                <option selected value="{{ slug }}">{{ title }}</option>
              {{else}}
                <option value="{{ slug }}">{{ title }}</option>
              {{/ifeq}}
            {{/each}}
          </select>
          <div class="invalid-feedback">{{ errors.category }}</div>
        {{else}}
          <select class="select2  js-select2" name="category">
            <option></option>
            {{#each categories}}
              {{#ifeq ../fields.category slug }}
                <option selected value="{{ slug }}">{{ title }}</option>
              {{else}}
                <option value="{{ slug }}">{{ title }}</option>
              {{/ifeq}}
            {{/each}}
          </select>
        {{/if}}

      </div>
      <div class="mb-3">
        <button class="btn  btn-light">Добавить пост</button>
      </div>
    </form>
  </div>
</section>